* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.margen{
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.imagen{
    margin-left: 3px !important;
}

.separar-bot{
    padding-bottom: 10px !important;
}

.separar-top{
    padding-top: 10px !important;
}

.custom-centercollheaderr4 a {
    text-shadow: 3px 3px 2px #000 !important;
    color: white !important;
    background-color: #04B486 !important;
    border-color: #000 !important;
   
}

.custom-centercollheader4 a {
    text-shadow: 3px 3px 2px #000 !important;
    text-align: center !important;
    color: white !important;
    background-color: #04B486 !important;
    border-color: #04B486 !important;
   
}

.custom-centercollheader3 a {
    text-shadow: 3px 3px 2px #000 !important;
    text-align: center !important;
    color: white !important;
    background-color: #0B0B61 !important;
    border-color: #0B0B61 !important;
   
}

.custom-centercollheaderr3 a {
    text-shadow: 3px 3px 2px #000 !important;
    color: white !important;
    background-color: #0B0B61 !important;
    border-color: #000 !important;
   
}


.custom-centercollheader a {
    text-shadow: 3px 3px 2px #000 !important;
    text-align: center !important;
    color: white !important;
    background-color: #DBA901 !important;
    border-color: #DBA901 !important;
   
}

.custom-centercollheaderr a {
    text-shadow: 3px 3px 2px #000 !important;
    color: white !important;
    background-color: #DBA901 !important;
    border-color: #000 !important;
   
}

.custom-centercollheader2 a {
    text-shadow: 3px 3px 2px #000 !important;
    text-align: center !important;
    color: white !important;
    background-color: #0B610B !important;
    border-color: #0B610B !important;
   
}

.custom-centercollheaderr2 a {
    text-shadow: 3px 3px 2px #000 !important;
    color: white !important;
    background-color: #0B610B !important;
    border-color: #000 !important;
   
}
#mostrarMapa{
		width: 300px !important;
		height: 233px !important;
	}

@media (min-width: 26em) {
	#mostrarMapa{
		width: 385px !important;
		height: 300px !important;
}
	}
@media (min-width: 30.75em) {
	#mostrarMapa{
		width: 450px !important;
		height: 350px !important;
	}
}
@media (min-width: 61.5em) {
	#mostrarMapa{
		width: 552px !important;
		height: 430px !important;
	}
}

.centerText{
    text-align:center;
}
#logo{
    width:70%;
    max-width:206px;

}

.titulo{
    text-align: center;
}
#menu{
  padding-top: 20px;    
}
h1, h3{
    text-align: center;
}
#info{
    text-align: center;
    font-style: italic;
    font-weight:bold;
    border:#000;
}
#home-page,#buscar_carrera,#about-page,#contact, #institucional{
    background:url("../img/BackgroundComahueNuestraUniversidad.png") no-repeat center center fixed;
      -webkit-background-size: cover;          
      -moz-background-size: cover;         
       -o-background-size: cover;          
       background-size: cover;
}

.blue{
    background-color: #0B0B61 !important;
    border-color: #0B0B61 !important;
}

.grey{
    background-color: #F2F2F2 !important;
    border:0px !important;
}

.sponsor{
    width:70%;
    max-width:206px;
}

.boton{
    text-shadow: 3px 3px 2px #000 !important;
    font-weight: bold !important;
    color: #FFFFFF !important;
}


.botonInscripcion{
 border:1px solid #72021c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF !important;
 background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019)) !important;
 background-image: -webkit-linear-gradient(top, #a90329, #6d0019) !important;
 background-image: -moz-linear-gradient(top, #a90329, #6d0019) !important;
 background-image: -ms-linear-gradient(top, #a90329, #6d0019) !important;
 background-image: -o-linear-gradient(top, #a90329, #6d0019) !important;
 background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019) !important;
}

.botonInscripcion:hover{
 border:1px solid #450111 !important;
 background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d)) !important;
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d) !important;
 background-image: -moz-linear-gradient(top, #77021d, #3a000d) !important;
 background-image: -ms-linear-gradient(top, #77021d, #3a000d) !important;
 background-image: -o-linear-gradient(top, #77021d, #3a000d) !important;
 background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d) !important;
}


.botonRojo{
border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#AD0202));
 background-image: -webkit-linear-gradient(top, #f62b2b, #AD0202);
 background-image: -moz-linear-gradient(top, #f62b2b, #AD0202);
 background-image: -ms-linear-gradient(top, #f62b2b, #AD0202);
 background-image: -o-linear-gradient(top, #f62b2b, #AD0202);
 background-image: linear-gradient(to bottom, #f62b2b, #AD0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#AD0202);
}

.botonRojo:hover{
 border:1px solid #b30808;
 background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
 background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
 background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
}



/*.botonVioleta{
    border: 1px solid  #8904B1 !important;
    background: none repeat scroll 0% 0%  #8904B1 !important;
}*/
.botonAnaranjado{
border:1px solid #ff7803; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF !important;
 background-color: #FF963B; background-image: -webkit-gradient(linear, left top, left bottom, from(#FF963B), to(#B06E19)) !important;
 background-image: -webkit-linear-gradient(top, #FF963B, #B06E19) !important;
 background-image: -moz-linear-gradient(top, #FF963B, #B06E19) !important;
 background-image: -ms-linear-gradient(top, #FF963B, #B06E19) !important;
 background-image: -o-linear-gradient(top, #FF963B, #B06E19) !important;
 background-image: linear-gradient(to bottom, #FF963B, #B06E19);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF963B, endColorstr=#B06E19) !important;
}

.botonAnaranjado:hover{
  border:1px solid #d46200;
 background-color: #ff7b08; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7b08), to(#835213)) !important;
 background-image: -webkit-linear-gradient(top, #ff7b08, #835213) !important;
 background-image: -moz-linear-gradient(top, #ff7b08, #835213) !important;
 background-image: -ms-linear-gradient(top, #ff7b08, #835213) !important;
 background-image: -o-linear-gradient(top, #ff7b08, #835213) !important;
 background-image: linear-gradient(to bottom, #ff7b08, #835213);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff7b08, endColorstr=#835213) !important;
}
.botonVioleta{
border:1px solid #602487; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #7F30B3; background-image: -webkit-gradient(linear, left top, left bottom, from(#7F30B3), to(#300B4D));
 background-image: -webkit-linear-gradient(top, #7F30B3, #300B4D);
 background-image: -moz-linear-gradient(top, #7F30B3, #300B4D);
 background-image: -ms-linear-gradient(top, #7F30B3, #300B4D);
 background-image: -o-linear-gradient(top, #7F30B3, #300B4D);
 background-image: linear-gradient(to bottom, #7F30B3, #300B4D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7F30B3, endColorstr=#300B4D);
}

.botonVioleta:hover{
 border:1px solid #461a63;
 background-color: #62258b; background-image: -webkit-gradient(linear, left top, left bottom, from(#62258b), to(#140520));
 background-image: -webkit-linear-gradient(top, #62258b, #140520);
 background-image: -moz-linear-gradient(top, #62258b, #140520);
 background-image: -ms-linear-gradient(top, #62258b, #140520);
 background-image: -o-linear-gradient(top, #62258b, #140520);
 background-image: linear-gradient(to bottom, #62258b, #140520);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#62258b, endColorstr=#140520);
}
.botonAmarillo{
border:1px solid #d4cd00; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #FFF70D; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF70D), to(#6E6E05));
 background-image: -webkit-linear-gradient(top, #FFF70D, #6E6E05);
 background-image: -moz-linear-gradient(top, #FFF70D, #6E6E05);
 background-image: -ms-linear-gradient(top, #FFF70D, #6E6E05);
 background-image: -o-linear-gradient(top, #FFF70D, #6E6E05);
 background-image: linear-gradient(to bottom, #FFF70D, #6E6E05);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF70D, endColorstr=#6E6E05);
}


.botonAmarillo:hover{
 border:1px solid #a6a100;
 background-color: #d9d200; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9d200), to(#8C8306));
 background-image: -webkit-linear-gradient(top, #d9d200, #8C8306);
 background-image: -moz-linear-gradient(top, #d9d200, #8C8306);
 background-image: -ms-linear-gradient(top, #d9d200, #8C8306);
 background-image: -o-linear-gradient(top, #d9d200, #8C8306);
 background-image: linear-gradient(to bottom, #d9d200, #8C8306);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9d200, endColorstr=#8C8306);
}

.botonVerde{
border:1px solid #34740e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#006B00));
 background-image: -webkit-linear-gradient(top, #4ba614, #006B00);
 background-image: -moz-linear-gradient(top, #4ba614, #006B00);
 background-image: -ms-linear-gradient(top, #4ba614, #006B00);
 background-image: -o-linear-gradient(top, #4ba614, #006B00);
 background-image: linear-gradient(to bottom, #4ba614, #006B00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#006B00);
}

.botonVerde:hover{
 border:1px solid #224b09;
 background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#003800));
 background-image: -webkit-linear-gradient(top, #36780f, #003800);
 background-image: -moz-linear-gradient(top, #36780f, #003800);
 background-image: -ms-linear-gradient(top, #36780f, #003800);
 background-image: -o-linear-gradient(top, #36780f, #003800);
 background-image: linear-gradient(to bottom, #36780f, #003800);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#003800);
}

.botonAzul{
border:1px solid #122c82; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #193DB3; background-image: -webkit-gradient(linear, left top, left bottom, from(#193DB3), to(#0E2F45));
 background-image: -webkit-linear-gradient(top, #193DB3, #0E2F45);
 background-image: -moz-linear-gradient(top, #193DB3, #0E2F45);
 background-image: -ms-linear-gradient(top, #193DB3, #0E2F45);
 background-image: -o-linear-gradient(top, #193DB3, #0E2F45);
 background-image: linear-gradient(to bottom, #193DB3, #0E2F45);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#193DB3, endColorstr=#0E2F45);
}

.botonAzul:hover{
 border:1px solid #0c1e59;
 background-color: #132e86; background-image: -webkit-gradient(linear, left top, left bottom, from(#132e86), to(#05121b));
 background-image: -webkit-linear-gradient(top, #132e86, #05121b);
 background-image: -moz-linear-gradient(top, #132e86, #05121b);
 background-image: -ms-linear-gradient(top, #132e86, #05121b);
 background-image: -o-linear-gradient(top, #132e86, #05121b);
 background-image: linear-gradient(to bottom, #132e86, #05121b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#132e86, endColorstr=#05121b);
}


.botonEsmeralda{
border:1px solid #61cb6e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #8BD995; background-image: -webkit-gradient(linear, left top, left bottom, from(#8BD995), to(#465C34));
 background-image: -webkit-linear-gradient(top, #8BD995, #465C34);
 background-image: -moz-linear-gradient(top, #8BD995, #465C34);
 background-image: -ms-linear-gradient(top, #8BD995, #465C34);
 background-image: -o-linear-gradient(top, #8BD995, #465C34);
 background-image: linear-gradient(to bottom, #8BD995, #465C34);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8BD995, endColorstr=#465C34);
}

.botonEsmeralda:hover{
 border:1px solid #3fbf4f;
 background-color: #65cc72; background-image: -webkit-gradient(linear, left top, left bottom, from(#65cc72), to(#2d3b22));
 background-image: -webkit-linear-gradient(top, #65cc72, #2d3b22);
 background-image: -moz-linear-gradient(top, #65cc72, #2d3b22);
 background-image: -ms-linear-gradient(top, #65cc72, #2d3b22);
 background-image: -o-linear-gradient(top, #65cc72, #2d3b22);
 background-image: linear-gradient(to bottom, #65cc72, #2d3b22);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#65cc72, endColorstr=#2d3b22);
}



#footer1{
    background-color:#F2F2F2 !important;
}

#footer{
    background-color:#0B0B61 !important;
}

/*body {
    -webkit-touch-callout: none;                 prevent callout to copy image, etc when tap to hold 
    -webkit-text-size-adjust: none;              prevent webkit from resizing text to fit 
    -webkit-user-select: none;                   prevent copy paste, to allow, change 'none' to 'text' 
    background-color:#FFFFFF;
    background-image:linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-ms-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #CCC),
        color-stop(0.51, #FFFFFF)
    );
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

 header 
.ui-header > .ui-btn {
    padding: 7px 10px 11px;
    background:none;
    border:none;
    overflow:;
}
.ui-header .ui-title{

margin: .8em 30% .8em;

}

 home page 

#logo{
    width:70%;
    max-width:206px;
    margin:35px 0 40px;
}
.sponsor{
    width:90%;
    padding: 0px;
    margin:0px;
}
.centerText{
    text-align:center;
}

#home-page a{
    margin-top:20px;
    padding-top:8px;
    padding-bottom:8px;
}

.ui-grid-a .ui-block-a .ui-btn{
    margin-left: 0px;
    //word-break: break-word;
}

.ui-grid-a .ui-block-b .ui-btn{
    margin-right: 0px;
    //word-break: break-word;
}

 map 
#second-page{
   
}
.big-text{
    font-size: 1.3em;
}
.small-text{
    font-size:0.8em;
}

.ui-btn-inline {
  white-space: nowrap !important;
  overflow: visible !important;
}

.ui-btn-active {
    border: 1px solid       #1abc9c {global-active-border};
    background:             #1abc9c {global-active-background-color};
    font-weight: bold;
    color:                  #ffffff {global-active-color};
    cursor: pointer;
    text-decoration: none;
  font-family: Lato, sans-serif
}
.tamaño{
    size:50%;
}

.ui-icon-ms-phone {
    background: url("../img/phone-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-question {
    background: url("../img/question-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-search {
    background: url("../img/search-icon.png") 50% 50% no-repeat;
}

.ui-icon-unco{
    background-image: url(/icon/android-icons/unc-48-mdpi.png);
    
}

.ui-page {
      background:url("../img/BackgroundComahueNuestraUniversidad.png") no-repeat center center fixed;
      -webkit-background-size: cover;          
      -moz-background-size: cover;         
       -o-background-size: cover;          
       background-size: cover;
 } */