* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.separar-bot{
    padding-bottom: 10px;
}

.separar-top{
    padding-top: 10px;
}

.custom-centercollheader a {
    text-shadow: 3px 3px 2px #000 !important;
    text-align: center !important;
    color: white !important;
    background-color: #DBA901 !important;
    border-color: #DBA901 !important;
   
}
.custom-centercollheaderr a {
    text-shadow: 3px 3px 2px #000 !important;
    color: white !important;
    background-color: #DBA901 !important;
    border-color: #000 !important;
   
}

.custom-centercollheader2 a {
    text-shadow: 3px 3px 2px #000 !important;
    text-align: center !important;
    color: white !important;
    background-color: #0B610B !important;
    border-color: #0B610B !important;
   
}

.custom-centercollheaderr2 a {
    text-shadow: 3px 3px 2px #000 !important;
    color: white !important;
    background-color: #0B610B !important;
    border-color: #000 !important;
   
}

.centerText{
    text-align:center;
}
#logo{
    width:70%;
    max-width:206px;

}

.titulo{
    text-align: center;
}
#menu{
  padding-top: 20px;    
}
h1, h3{
    text-align: center;
}
#info{
    text-align: center;
    font-style: italic;
    font-weight:bold;
    border:#000;
}
#home-page,#buscar_carrera,#about-page,#contact{
    background:url("../img/BackgroundComahueNuestraUniversidad.png") no-repeat center center fixed;
      -webkit-background-size: cover;          
      -moz-background-size: cover;         
       -o-background-size: cover;          
       background-size: cover;
}

.blue{
    background-color: #0B0B61 !important;
    border-color: #0B0B61 !important;
}
.sponsor{
    width:70%;
    max-width:206px;
    

}
#ui-btn-d{
    text-shadow: 3px 3px 2px #000 !important;
    border: 1px solid #C1392B;
    //background: none repeat scroll 0% 0% #C1392B !important;
    background-color:  #C1392B !important;
    font-weight: bold;
    color: #FFFFFF;
    /*height: 40px;*/
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 4px #black;
}

#ui-btn-c{
    text-shadow: 3px 3px 2px #000 !important;
    border: 1px solid #DBA901;
    background: none repeat scroll 0% 0% #DBA901;
    font-weight: bold;
    color: #FFFFFF;
/*    height: 40px;*/
}

#ui-btn-e{
    text-shadow: 3px 3px 2px #000 !important;
    border: 1px solid #0B610B;
    background: none repeat scroll 0% 0% #0B610B;
    font-weight: bold;
    color: #FFFFFF;
    /*height: 40px;*/
   
}
#footer{
    background-color:#0B0B61 ;
}
/*body {
    -webkit-touch-callout: none;                 prevent callout to copy image, etc when tap to hold 
    -webkit-text-size-adjust: none;              prevent webkit from resizing text to fit 
    -webkit-user-select: none;                   prevent copy paste, to allow, change 'none' to 'text' 
    background-color:#FFFFFF;
    background-image:linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-ms-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #CCC),
        color-stop(0.51, #FFFFFF)
    );
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

 header 
.ui-header > .ui-btn {
    padding: 7px 10px 11px;
    background:none;
    border:none;
    overflow:;
}
.ui-header .ui-title{

margin: .8em 30% .8em;

}

 home page 

#logo{
    width:70%;
    max-width:206px;
    margin:35px 0 40px;
}
.sponsor{
    width:90%;
    padding: 0px;
    margin:0px;
}
.centerText{
    text-align:center;
}

#home-page a{
    margin-top:20px;
    padding-top:8px;
    padding-bottom:8px;
}

.ui-grid-a .ui-block-a .ui-btn{
    margin-left: 0px;
    //word-break: break-word;
}

.ui-grid-a .ui-block-b .ui-btn{
    margin-right: 0px;
    //word-break: break-word;
}

 map 
#second-page{
   
}
.big-text{
    font-size: 1.3em;
}
.small-text{
    font-size:0.8em;
}

.ui-btn-inline {
  white-space: nowrap !important;
  overflow: visible !important;
}

.ui-btn-active {
    border: 1px solid       #1abc9c {global-active-border};
    background:             #1abc9c {global-active-background-color};
    font-weight: bold;
    color:                  #ffffff {global-active-color};
    cursor: pointer;
    text-decoration: none;
  font-family: Lato, sans-serif
}
.tamaño{
    size:50%;
}

.ui-icon-ms-phone {
    background: url("../img/phone-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-question {
    background: url("../img/question-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-search {
    background: url("../img/search-icon.png") 50% 50% no-repeat;
}

.ui-icon-unco{
    background-image: url(/icon/android-icons/unc-48-mdpi.png);
    
}

.ui-page {
      background:url("../img/BackgroundComahueNuestraUniversidad.png") no-repeat center center fixed;
      -webkit-background-size: cover;          
      -moz-background-size: cover;         
       -o-background-size: cover;          
       background-size: cover;
 } */